{% extends "main.html" %}

{% block content %}

    <section class="creator">
      <h2 class="creator__title">Создание новой работы</h2>

      <form action="{{ url_for('create_handmade') }}" method="post" class="creator__form" enctype="multipart/form-data">

        <label for="name">Укажите название вашей работы:</label>
        <br>
        <input type="text" id="name" name="name" placeholder="Название работы" />
        <br><br>
        <label for="image">Прикрепите фото работы:</label>
        <br>
        <input id="image" type="file" name="image" accept="image/png, image/jpeg, image/jpg">
        <br>
        <p>Доступно для просмотра остальным пользователями?</p>
        <div>
          <input type="radio" id="private" name="is_private" value="false" checked>
          <label for="private">Да</label>
          <input type="radio" id="not_private" name="is_private" value="true">
          <label for="not_private">Нет</label>
        </div>
        <br>
        <p>Учитывать налоги?</p>
        <div>
          <input type="number" name="tax" placeholder="Налоговая ставка" min="0"/>
        </div>
        <br>
        <p>Перечислите материалы:</p>
        <section id="materials">
          <div class="creator_material">
            <input type="text" name="m_name" placeholder="Название материала" />
            <input type="number" name="m_quantity" placeholder="Необходимое количество" min="0"/>
            <input type="number" name="m_total_quantity" placeholder="Количество в упаковке" min="0"/>
            <input type="number" name="m_price" placeholder="Стоимость упаковки" min="0"/>
          </div>
        </section>
        <input type="button" value="Добавить" onclick="addRow()" class="button"/>
        <input type="submit" value="Сохранить" class="button">
      </form>

    </section>

    <script type="text/javascript" src="{{ url_for('static', filename='materials.js') }}"></script>

{% endblock %}