{% extends "main.html" %}

{% block content %}
<section id="login_section">

    <div class="login">
        <form action="{{ url_for('login') }}" method="post" class="login__form">
            <div class="login__msg">{{ msg }}</div>
            <input id="email" name="email" type="email" placeholder="Введите e-mail" class="login__textbox"/>
            <input id="password" name="password" type="password" placeholder="Введите пароль" class="login__textbox"/>
            <input type="submit" class="button" value="Войти">
        </form>
        <p class="bottom">Ещё не зарегистрированы?  <a class="login__bottom" href="{{url_for('registration_page')}}">Регистрация</a></p>
    </div>

</section>

{% endblock %}
