<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <div class="app">

        <section class="app__header">
            <img class="header__logo" src="" alt="" >
            <h1 class="header__title">{{ h1 }}</h1>
            <div class="header__buttons">
                <a href="/login.html" class="button">Войти</a>

            </div>

            <div class="mobile_menu">
                <nav role="navigation">
                    <div id="menuToggle">
                      <input type="checkbox">

                      <span></span>
                      <span></span>
                      <span></span>

                      <ul id="menu">
                        <a href="/login.html">Войти</a>
                        <p>Категории:</p>
                        <a href="#">Цветы</a>
                        <a href="#">Свечи</a>
                        <a href="#">Игрушки</a>
                        <a href="#">Кожа</a>
                        <a href="#">Вязание</a>
                        <a href="#">Картон</a>
                        <a href="#">Ароматы</a>
                      </ul>
                    </div>
                  </nav>
            </div>

        </section>

        <section class="app__body">

            <div class="app__widget">
                <h3>Категории</h3>
                <div class="categories">
                    <a class="category button">Цветы</a>
                    <a class="category button">Свечи</a>
                    <a class="category button">Игрушки</a>
                    <a class="category button">Кожа</a>
                    <a class="category button">Вязание</a>
                    <a class="category button">Картон</a>
                    <a class="category button">Ароматы</a>
                </div>
            </div>

            {% block content %}{% endblock %}

        </section>

    </div>



</body>
</html>