{% extends "main.html" %}

{% block content %}
<section id="login_section">

    <div class="login">
        <form action="{{ url_for('registration') }}" method="post" class="login__form">
            <div class="msg">{{ msg }}</div>
            <input id="email" name="email" type="email" placeholder="Введите свой e-mail" class="login__textbox"/>
            <input id="password" name="password" type="password" placeholder="Придумайте пароль" class="login__textbox"/>
            <input id="username" name="username" type="text" placeholder="Введите имя" class="login__textbox"/>
            <input type="submit" class="button" value="Зарегистрироваться">
        </form>
        <p class="bottom">Уже зарегистрированы?  <a class="login__bottom" href="{{url_for('login_page')}}">Вход</a></p>
    </div>

</section>

{% endblock %}
