{% extends "main.html" %}

{% block content %}

  <section class="product">

    <div class="product__image">
      <img src="static/image_uploads/{{ handmade.link }}" alt="{{ handmade.name }}">
    </div>
    <div class="product__info">
      <p class="product__label">Название: <span class="product__text">{{ handmade.name }}</span></p>
      <p class="product__label">Автор: <span class="product__text">{{ handmade.user_name }}</span></p>
      <p class="product__label">Дата создания: <span class="product__text">{{ handmade.date_added }}</span></p>
      <br>
      <p class="product__label">Материалы:</p>
      {% for material in materials %}
      <p class="product__label">
        <span class="material">{{ material.name }}</span> <span class="material-qty">{{ material.quantity }}</span>
      </p>
      {% endfor %}
      <br>
      <p class="product__label">Себестоимость: <span class="product__text">{{ handmade.price }}</span></p>
    </div>

  </section>

{% endblock %}